.app {
  background: linear-gradient(to top, #fff1eb 0%, #fdebcf 100%);
  border-radius: 4px;
  color: #bb6606;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  padding: 20px;
}

.Footer {
  margin-top: 15px;
}

#open-source-code,
#linkedin {
    color: #f1870e;
    text-decoration: none;
  }
  
