ul {
    list-style: none;
  }
  
  h1 {
    color: #0d8eca;
  }
  
  #date-update,
  #month-year {
    font-size: 12px;
    margin-left: -30px;
  }
  
  .weather-temperature {
    position: relative;
    top: -20px;
  }
  
  .weather-temperature .units {
    margin-right: 20px;
    position: relative;
    top: -34px;
  }
  
  .weather-temperature .active {
    background-color: #fff1eb;
  }
  
  #temperature {
    color: #0d8eca;
    font-size: 80px;
    font-weight: 600;
  }
  
  #celsius-link,
  #fahrenheit-link {
    border-color: #0d8eca;
    color: #0d8eca;
    top: -36px;
  }
  
  #celsius-link:hover,
  #fahrenheit-link:hover {
    background-color: #fff1eb;
    transition: all 200ms ease-in-out;
  }
  