:root {
  --branding-color: #f1870e;
  --primary-color: #f8f4ec;

}

ul {
    list-style: none;
  }
  
  h1 {
    color: var(--branding-color);
    text-transform: capitalize;
  }
  
  .input-group {
    border-radius: 20px;
    padding-bottom: 15px;
  }
  
  #search-city {
    background-color: var(--primary-color);
    border-color: var(--branding-color);
  }
  
  #submit-city,
  #current-location-button {
    border-color: var(--branding-color);
    color: var(--branding-color);
  }
  
  #submit-city:hover,
  #current-location-button:hover {
    background-color: var(--primary-color);
    transition: all 200ms ease-in-out;
  }

  #date-update {
    margin-left: -38px;
  }
  
  .weather-temperature {
    position: relative;
    top: -20px;
  }
  
  .weather-temperature .Units {
    margin-right: 20px;
    position: relative;
    top: -34px;
  }

  .Temperature {
    color: var(--branding-color);
    font-size: 80px;
    font-weight: 600;
    margin-right: 10px;
  }

  #celcius-link {
    margin-right: 5px;
  }
  
  #celcius-link,
  #fahrenheit-link {
    border-color: var(--branding-color);
    color: var(--branding-color);
    top: -36px;
  }
  
  #celcius-link:hover,
  #fahrenheit-link:hover {
    background-color: var(--primary-color);
    transition: all 200ms ease-in-out;
  }

  #celcius-link.active,
  #fahrenheit-link.active {
    background-color: var(--primary-color);
  }
  
  .WeatherDescription {
    margin-top: 90px;
  }

  .ForecastDays {
    margin-left: 20px;
  }
  
  .DailyForecast {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .ForecastDaysTemperature {
    margin-left: 20px;
  }
  
  .WeatherIcon {
    margin-top: 40px;
    color: var(--branding-color);
  }
  
  .Humidity,
  .Wind,
  .Description {
    font-size: 16px;
  }
  
  .Description {
    font-weight: 600;
  }
  
  .Description::first-letter {
    text-transform: capitalize;
  }

.HourlyForecast {
  font-size: 16px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  margin-bottom: 15px;
  padding-top: 7px;
}

#forecast-hours {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  text-align: center;
}

.ForecastHoursTemperature {
  font-size: 16px;
  font-weight: normal;
  height: auto;
  line-height: 15px;
  margin-top: 5px;
  white-space: nowrap;
}

.MaxTempHours,
.MaxTempDays,
.Degrees {
  color: var(--branding-color);
  font-weight: bold;
}

@media (max-width:660px) {
  .ForecastDays {
    text-align: center;
  }
  .HourlyForecast {
    margin-top: 20px;
  }
  .WeatherIcon {
    text-align: center;
  }
  .WeatherDescription {
    margin-left: 70px;
  }
}