ul {
    list-style: none;
  }
  
  h1 {
    color: #0d8eca;
    text-transform: capitalize;
  }
  
  .input-group {
    border-radius: 20px;
    padding-bottom: 15px;
  }
  
  #search-city {
    background-color: #fff1eb;
    border-color: #0d8eca;
  }
  
  #submit-city,
  #current-location-button {
    border-color: #0d8eca;
    color: #0d8eca;
  }
  
  #submit-city:hover,
  #current-location-button:hover {
    background-color: #fff1eb;
    transition: all 200ms ease-in-out;
  }

  #date-update {
    margin-left: -38px;
  }
  
  .weather-temperature {
    position: relative;
    top: -20px;
  }
  
  .weather-temperature .Units {
    margin-right: 20px;
    position: relative;
    top: -34px;
  }
  
  .weather-temperature .active {
    background-color: #fff1eb;
  }

  .Temperature {
    color: #0d8eca;
    font-size: 80px;
    font-weight: 600;
    margin-right: 10px;
  }

  #celcius-link {
    margin-right: 5px;
  }
  
  #celcius-link,
  #fahrenheit-link {
    border-color: #0d8eca;
    color: #0d8eca;
    top: -36px;
  }
  
  #celcius-link:hover,
  #fahrenheit-link:hover {
    background-color: #fff1eb;
    transition: all 200ms ease-in-out;
  }
  
  .WeatherDescription {
    margin-top: 70px;
  }
  
  .ForecastDays {
    font-size: 14px;
    padding-left: 30px;
  }
  
  .DailyForecast {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
  }
  
  .ForecastDaysTemperature {
    margin-left: 10px;
  }
  
  .WeatherIcon {
    margin-top: 20px;
    color:#0d8eca;
  }
  
  .Humidity,
  .Wind,
  .Description {
    font-size: 14px;
  }
  
  .Description {
    font-weight: 600;
  }
  
  .Description::first-letter {
    text-transform: capitalize;
  }
  
  .ForecastHours {
    margin-top: 35px;
    text-align: center;
  }

.HourlyForecast {
  font-size: 16px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-left: 12px;
}

.ForecastHoursTemperature {
  font-size: 16px;
  font-weight: normal;
  height: auto;
  line-height: 15px;
  margin-top: 5px;
  padding-left: 15px;
  white-space: nowrap;
}

.MaxTempHours,
.MaxTempDays,
.Degrees {
  color: #0d8eca;
  font-weight: bold;
}